<h2>Edit Cource</h2>
<form action="/courses/{{course._id}}?_method=PUT" method="POST">
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Name</label>
        <input type="text" name="name" class="form-control" id="exampleFormControlInput1" value="{{course.name}}">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Description</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="description">
            {{course.description}}
        </textarea>
    </div>
    <button class="btn btn-warning">Edit</button>
</form>